<ion-header>

  <ion-navbar>
    <ion-title>About</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
    <ion-slides pager style="background-color: #F2F2F2">
      <ion-slide *ngFor="let new of news">
        <ion-card>
          <ion-item>
            <h2 (click)="launch(new.post_name)">{{ new.post_title }}</h2>
            <p>{{ new.post_date }}</p>
          </ion-item>

          <img [src]="new.guid" (click)="launch(new.post_name)" />

          <ion-card-content>
            <p>{{ new.post_excerpt }}</p>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <ion-list style="background-color: #FFF">
        <ion-card *ngFor="let new of news">
          <ion-item>
            <h2 (click)="launch(new.post_name)">{{ new.post_title }}</h2>
            <p>{{ new.post_date }}</p>
          </ion-item>

          <img [src]="new.guid" (click)="launch(new.post_name)" />

          <ion-card-content>
            <p>{{ new.post_excerpt }}</p>
          </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
